</div>
		<!-- Scripts -->
		<script src="<%= app_path %>/js/jquery.min.js"></script>
		<script src="<%= app_path %>/js/jquery.scrolly.min.js"></script>
		<script src="<%= app_path %>/js/jquery.scrollex.min.js"></script>
		<script src="<%= app_path %>/libraries/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js"></script>
		<script src="<%= app_path %>/js/home.js"></script>
		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
			integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
			crossorigin=""></script>
	</body>
</html>
