		</div>

		<!-- Scripts -->
		<script src="<%= app_path %>/js/jquery.min.js"></script>
		<script src="<%= app_path %>/js/jquery.scrolly.min.js"></script>
		<script src="<%= app_path %>/js/jquery.scrollex.min.js"></script>
		<script src="<%= app_path %>/libraries/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
		<script src="<%= app_path %>/js/home.js"></script>
		<script src="<%= app_path %>/libraries/leaflet/leaflet.js"></script>
		<script src="<%= app_path %>/javascripts/map.js"></script>
	</body>
</html>
