<%- include('includes/header', { page: 'stream' }) %>

<div class="row">
    <div class="col-12">
        <h3 class="header"><strong><%= target.name %></strong></h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
      <table id="class-conf" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Class</th>
            <th scope="col">Conf.</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="col-md-8">
        <div id="video-feed">
            <img class="ml-auto mr-auto" id="play">
        </div>
    </div>

    <div class="col-md-2">
        <div class="list-group">
          <% cameras.forEach(function(camera, index) { %>
            <a href="/live-stream?id=<%= camera.id %>" class="list-group-item list-group-item-action <%- (target.id === camera.id) ? 'active' : ''%>"><%= camera.name %></a>
          <% }); %>
        </div>
    </div>
</div>

<%- include('includes/footer') %>
