<%- include('includes/header', { page: 'stream' }) %>

<div class="row">
    <div class="col-12">
        <h3 class="header"><strong><%= target.name %></strong></h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Class</th>
            <th scope="col">Conf.</th>
          </tr>
        </thead>
        <tbody>
          <% objects.forEach(function(object, index) {
            const getRandomColor = () => {
              var letters = '0123456789ABCDEF';
              var color = '#';
              for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
              }
              return color + "40";
            }
            const color = getRandomColor();
          %>
            <tr style="background-color: <%= color %>">
              <td><%= object.className %></td>
              <td><%= Math.round(1000 * object.properties.c) / 10 %>%</td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <div class="col-md-8">
        <div id="video-feed">
            <img class="ml-auto mr-auto" id="play">
        </div>
        <!-- <h5><%= target.name %></h5> -->

        <script>
          document.title = "Home";
          var client = io();
          client.emit('join', 'hello world from client');
          client.emit('run_stream', {temp: "something"});
          client.on('messages', (data) => {
              console.log('messages: '+data);
          });
          client.on('output', (data) => {
              console.log(data);
              // $("#result1").append(data);
              // var elem = document.getElementById('left_data');
              // elem.scrollTop = elem.scrollHeight;
          });
          client.on('stream',function(image){
              var img = document.getElementById("play");
              img.src = image;
              var log = document.getElementById("logger");
              // $("#logger").text(image);
          });
          client.on('outputs_1',function(image){
              var img = document.getElementById("play");
              img.src = image;
              var log = document.getElementById("logger");
              // $("#logger").text(image);
          });
        </script>
    </div>

    <div class="col-md-2">
        <div class="list-group">
          <% cameras.forEach(function(camera, index) { %>
            <a href="/live-stream?id=<%= index + 1 %>" class="list-group-item list-group-item-action <%- (target.id === camera.id) ? 'active' : ''%>"><%= camera.name %></a>
          <% }); %>
        </div>
    </div>
</div>

<%- include('includes/footer') %>
